<html>
  <head>
    <title>Email Doğrulama</title>
  </head>
  <body>
    <p>Merhaba {{name}},</p>
    <p>Hesabınızı doğrulamak için aşağıdaki kodu veya bağlantıyı kullanın:</p>
    <p><strong>Doğrulama Kodunuz: {{code}}</strong></p>
    <p><strong>Bu doğrulama kodu 15 dakika süreyle geçerli olacaktır.</strong></p>
    <p>Bağlantıya tıklayarak doğrulama sayfasına gidebilirsiniz:
      <a href='{{url}}'>Emailinizi Doğrulayın</a></p>
    <p>Bu kodu kimseyle paylaşmayın. Eğer bu e-postayı beklemiyorsanız, lütfen
      dikkate almayın.</p>
    <p>Teşekkürler!</p>
  </body>
</html>